@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM CLASSES */



/* TECHNICALS */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}